{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}	</header>
	<!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="index.html">Home</a></li>
                    <li>Thank you for Subscribing</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="content-area">
            <!-- Left & right section start -->
            <div class="container">

                <!-- Pricing table-1 Columns 4 with gap -->
                <div class="p-b30">
                    <div class="section-head">
                        <h2 class="text-uppercase text-center">Thank you for Your Subscription!</h2>
                        <p class="text-center">Kindly wait while admin confirms and approves your subscription.</p>
                        <a class="btn btn-sm btn-warning btn-block" href="{% url 'index' %}">Back Home</a>
                    </div>
                    
                </div>
                <!-- Pricing table-1 Columns 4 with gap END-->
                
            </div>
            <!-- Left & right section  END -->
        </div>
    </div>
    <!-- Left & right section END -->
    <!-- Content END-->
{% endblock %}
